
.box{
margin-top:100px;
margin-right:10%;
margin-bottom:20px;
margin-left:10%;}
.box{
margin: 20px 10% 20px 10%;
border: black 3px dashed;
padding: 10px 10% 10px 10%;}
.greenText{color:green;}
.textdeco{text-decoration:line-through;text-decoration: underline;}
.texttransform{text-transform: uppercase;}
#theFonts{font-family:"times new roman", Times, serif; }
.theSize{font-size: 100px;}
div ul { font-weight: bold; }
h1, h2, ol {color:blue;}
h2 {position: absolute;right: 750px;top: 1750px; }
h1 {position: fixed;left: 100px;top: 150px;}
ol { position: relative;left: 100px; top: 150px; }
